Repository woowa-techcamp-2022/web-todo-03, pull requests merged in 2022-07, with the labels that each got.

#2 feat: 칸반보드 UI 구현 (#1)
  frontend/.babelrc
  frontend/assets/icons/close.svg
  frontend/assets/icons/plus.svg
  frontend/components/card/card.scss
  frontend/components/card/card.ts
  frontend/components/core/component.ts
  frontend/components/kavanBoard.ts/kanvanBoard.scss
  frontend/components/kavanBoard.ts/kanvanBoard.ts
  frontend/dist/index.html
  frontend/dist/main.js
  frontend/pages/index.ts
  frontend/pages/mainPage/index.ts
  frontend/pages/mainPage/style.scss
  frontend/types/svg.d.ts
  frontend/webpack.config.js
  package-lock.json
  package.json
Labels: feature, frontend

#9 feat: 프로젝트 설정 및 컴포넌트 기본 뼈대 구현 (#5)
  .eslintrc.json
  dist/index.html
  dist/main.js
  frontend/.babelrc
  frontend/app.js
  frontend/components/button/button.css
  frontend/components/button/button.js
  frontend/components/button/button.scss
  frontend/components/card/card.css
  frontend/components/card/card.js
  frontend/components/core/component.js
  frontend/components/kavanBoard/kanvanBoard.css
  frontend/components/kavanBoard/kanvanBoard.js
  frontend/declaration.d.ts
  frontend/pages/mainPage/index.js
  frontend/pages/mainPage/style.css
  frontend/style/style.scss
  frontend/styles/style.css
  frontend/types/scss.d.ts
  frontend/types/svg.d.ts
  frontend/webpack.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: feature, frontend

#11 feat: Mysql 연결
  .gitignore
  .prettierrc
  backend/api/notification/NotificationRepo.js
  backend/api/notification/NotificationService.js
  backend/api/todo/TodoController.js
  backend/api/todo/TodoRepo.js
  backend/api/todo/TodoRoute.js
  backend/api/todo/TodoService.js
  backend/app.js
  backend/config/db.js
  backend/dotenv.js
  package-lock.json
  package.json
Labels: feature, backend

#13 feat
  frontend/pages/mainPage/index.js
  frontend/pages/mainPage/style.css
  frontend/styles/reset.css
Labels: frontend, style

#17 Feat: 알림 패널 컴포넌트 구현
  frontend/app.js
  frontend/components/notificationPanel/notificationPanel.css
  frontend/components/notificationPanel/notificationPanel.js
Labels: feature, frontend, style

#18 feat: 헤더 컴포넌트 구현 #6
  frontend/app.js
  frontend/assets/icons/hamburger.svg
  frontend/components/header/header.css
  frontend/components/header/header.js
  frontend/pages/mainPage/index.js
  frontend/pages/mainPage/style.css
Labels: feature, frontend, style

#22 feat: 컴포넌트 클래스 수정 (#21)
  frontend/components/core/component.js
Labels: feature, frontend

#29 feat: 카드 수정 및 삭제 기능 구현 (#28)
  frontend/components/button/button.css
  frontend/components/card/card.css
  frontend/components/card/card.js
  frontend/components/core/component.js
  frontend/components/kanvanBoard/kanvanBoard.js
  frontend/components/modal/alertModal.css
  frontend/components/modal/alertModal.js
  frontend/pages/mainPage/index.js
  frontend/public/index.html
  frontend/styles/reset.css
  frontend/utils/modalUtil.js
  frontend/webpack.config.js
  package.json
Labels: feature, frontend

#32 feat: notification API 구현 및 todo API 수정
  backend/api/notification/NotificationController.js
  backend/api/notification/NotificationRoute.js
  backend/api/notification/NotificationService.js
  backend/api/todo/TodoController.js
  backend/api/todo/TodoRoute.js
  backend/api/todo/TodoService.js
  backend/app.js
  dist/index.html
  dist/main.js
Labels: feature, backend

#34 feat: fetch 유틸 함수 구현 (#26)
  frontend/utils/fetcher.js
Labels: feature, frontend

#33 feat: express static 경로 dist로 설정 (#30)
  backend/app.js
Labels: feature, backend

#38 feat: 햄버거 아이콘 벨 아이콘으로 수정
  frontend/assets/icons/bell.svg
  frontend/components/header/header.css
  frontend/components/header/header.js
Labels: frontend, style

#39 feat: notification 관련 이벤트 구현
  frontend/app.js
  frontend/components/header/header.js
  frontend/components/notification/notification.css
  frontend/components/notification/notification.js
  frontend/components/notificationPanel/notificationPanel.css
  frontend/components/notificationPanel/notificationPanel.js
  frontend/public/index.html
  frontend/utils/styleUtil.js
Labels: feature, frontend

#41 feat: TODO API 수정 (#40)
  backend/api/notification/NotificationService.js
  backend/api/todo/TodoController.js
  backend/api/todo/TodoService.js
  backend/app.js
  package-lock.json
  package.json
Labels: feature, backend, refactor

#44 feat: 투두리스트 데이터 메인페이지에서 관리하기 (#43)
  frontend/components/card/card.css
  frontend/components/card/card.js
  frontend/components/kanvanBoard/kanvanBoard.css
  frontend/components/kanvanBoard/kanvanBoard.js
  frontend/components/modal/alertModal.js
  frontend/pages/mainPage/index.js
Labels: feature, frontend

#45 feat: 투두 카드 생성 (#16)
  frontend/components/card/card.js
  frontend/components/kanvanBoard/kanvanBoard.js
Labels: feature, frontend

#47 feat: 투두카드 api 연결 (#46)
  backend/api/notification/NotificationService.js
  backend/api/todo/TodoController.js
  backend/api/todo/TodoService.js
  frontend/api/todo.js
  frontend/components/card/card.js
  frontend/components/kanvanBoard/kanvanBoard.js
  frontend/components/modal/alertModal.js
  frontend/pages/mainPage/index.js
  frontend/utils/fetcher.js
Labels: feature, frontend

#49 Feat: notification 패널 데이터 가공 및 애니메이션 구현
  backend/api/notification/NotificationService.js
  frontend/api/notification.js
  frontend/components/notification/notification.css
  frontend/components/notification/notification.js
  frontend/components/notificationPanel/notificationPanel.css
  frontend/components/notificationPanel/notificationPanel.js
  frontend/utils/dateUtil.js
Labels: feature, frontend

#52 style: 카드 컴포넌트 스타일 수정
  frontend/components/card/card.css
  frontend/components/card/card.js
Labels: style

#51 feat: 드래그 스타일 수정 (#50)
  frontend/assets/icons/hamburger.svg
  frontend/assets/icons/plus.svg
  frontend/components/card/card.css
  frontend/components/card/card.js
  frontend/components/kanvanBoard/kanvanBoard.css
  frontend/styles/style.css
Labels: feature, frontend, style

#54 style: 레이아웃 수정 (#53)
  frontend/components/header/header.css
  frontend/components/modal/alertModal.js
  frontend/pages/mainPage/index.js
  frontend/pages/mainPage/style.css
  frontend/utils/modalUtil.js
Labels: frontend, style

#56 fix: db 커넥션 release
  backend/api/notification/NotificationService.js
  backend/api/todo/TodoService.js
Labels: bug, feature, backend

#58 fix: 카드 리스트 state 관리 방식으로 수정
  backend/api/notification/NotificationService.js
  backend/api/todo/TodoController.js
  frontend/api/todo.js
  frontend/components/card/card.css
  frontend/components/card/card.js
  frontend/components/modal/alertModal.js
Labels: bug, feature, frontend

#59 feat: 레이아웃 스타일링 수정
  frontend/components/header/header.css
  frontend/components/header/header.js
  frontend/components/kanvanBoard/kanvanBoard.css
  frontend/pages/mainPage/index.js
  frontend/pages/mainPage/style.css
  frontend/public/index.html
Labels: frontend, style
